body{
font-family: Arial;
background:#eee;
margin:0;
}

.container{
display:flex;
flex-direction:column;
align-items:center;
padding:40px;
}



h1{
margin-bottom:20px;
}

.lista{
list-style:none;
padding:0;
width:250px;
}

.lista li{
background:#5f9ea0;
color:white;
padding:10px;
margin:5px 0;
text-align:center;
border-radius:5px;
}



.lista li:hover{
background:#3e7f80;
cursor:pointer;
}

.lista li:nth-child(even){
background:#7fb5b7;
}


table{
border-collapse:collapse;
width:600px;
background:white;
box-shadow:0 0 5px rgba(0,0,0,0.3);
}

th{
background:#5f9ea0;
color:black;
padding:15px;
}

td{
padding:15px;
text-align:center;
border-top:3px solid #2b86d1;
}



tr:nth-child(even){
background:#f4f4f4;
}


tr:hover{
background:white;
}